.titulo {
    font-size: 3.375rem;
    line-height: 3.375rem;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 64px;
    text-align: center;
}

.contentContainer {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 644fr 288fr;
    gap: 30px;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;
    padding-left: 20px; padding-right: 20px;
}

.filterSide {
    background-color: #000000;
    border: 2px solid #D6D6D6;
    padding: 20px 15px;
}

.filterOptionsTitle {
    font-size: 1.3125rem;
    line-height: 1.3125rem;
    font-weight: 500;
    /* margin-bottom: 35px; */
    color: #F5F5F5;
}

.filterLabel {
    display: flex;
    justify-content: space-between;   
    align-items: baseline;
    color: #D6D6D6;
}

.filterLabel p { font-size: 1.125rem; line-height: 1.125rem; }
.filterLabel span { font-size: 1rem; line-height: 1rem; text-align: end; }

.slider {
    width: 100%;
    height: 4px;
    background: #424242;
    opacity: 80%;
    outline: none;
    appearance: none;
    transition: 300ms;
}

.filterContainer {
    margin-bottom: 20px;
}

.slider:hover { opacity: 100%; }

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 9px;
    height: 18px;
    background: #FAFAFA;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 9px;
    height: 18px;
    background: #FAFAFA;
    cursor: pointer;
}

.imageSide {
    position: relative;
}

.imageContainer {
    background-color: #000000;
    padding: 20px;
    border: 2px solid #D6D6D6;
    display: grid;
    place-content: center;
}

.editableImage {
    display: block;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

.fileInputContainer {
    display: flex;
    place-content: end;
}

.inputFileHidden {
    visibility: hidden;
    position: absolute;
}

.resetButton,
.inputFileButton {
    font-size: 1.125rem;
    line-height: 1.125rem;
    padding: 8px 22px;
    border: 1px solid #D6D6D6;
    cursor: pointer;
    color: #D6D6D6;
    box-sizing: border-box;
    display: block;
    max-width: max-content;
    margin-bottom: 15px;
    
    transition: 250ms;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #000000;
}

.downloadButton {
    margin-top: 15px;
}

:global(.iconDownload) { transition: 250ms; }
:global(.iconUpload) { transition: 250ms; }

@media (pointer: fine) {
    .resetButton:hover,
    .inputFileButton:hover {
        color: #F5F5F5;
        border-color: #F5F5F5;
        /* box-shadow: 0 0 0 2px rgba(211, 185, 253, 50%); */
        
        color: #000000;
        background-color: #D6D6D6;
    }

    .downloadButton:hover :global(.iconDownload),
    .inputFileButton:hover :global(.iconUpload) {
        fill: #F5F5F5;
        fill: #000000;
    }
}

@media (pointer: coarse) {
    .resetButton:active,
    .inputFileButton:active {
        color: #F5F5F5;
        border-color: #F5F5F5;
        /* box-shadow: 0 0 0 2px rgba(211, 185, 253, 50%); */
        
        color: #000000;
        background-color: #D6D6D6;
    }

    .downloadButton:active :global(.iconDownload),
    .inputFileButton:active :global(.iconUpload) {
        fill: #F5F5F5;
        fill: #000000;
    }
}

.resetButtonContainer { display: flex; place-content: end; }

.resetButton {
    /* transition: 250ms; */
    font-family: 'Eczar', sans-serif;
    margin-bottom: 0px;
}

.resetButtonTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.resetButtonTop { display: none; }

@media (max-width: 850px) {
    .titulo {
        margin-bottom: 40px;
        margin-top: 30px;
        font-size: 2.375rem;
        line-height: 2.375rem;
    }

    .contentContainer {
        grid-template-columns: 1fr;
        padding-left: 15px; padding-right: 15px;
    }
    
    .imageContainer {
        padding: 10px;
    }

    .resetButtonDown { display: none; }
    .resetButtonTop { display: flex; }

    .downloadButton {
        margin-top: 15px;
        position: absolute;
        bottom: 12px;
        left: 12px;
        background-color: rgba(0, 0, 0, 80%);
    }
}

.extendedTitleText { display: block; }
.collapsedTitleText { display: none; }

@media (max-width: 385px) {
    .collapsedTitleText { display: block; }
    .extendedTitleText { display: none; }
}